### Assignment-04 (List)
- Change the notebook name with your name and Roll Number.
- Try this as your own, no chatgpt (it's for your learning)
- after completing the assignment, submit this book on google class room.

Create an empty list and print it.

In [1]:
l1=[]
print(l1)

[]

Create a list of your favorite colors and print it.

In [3]:
favorite_colors=["Black","Blue","Red","Green"]
print("Favorite colors:",favorite_colors)

Favorite colors: ['Black', 'Blue', 'Red', 'Green']

Create a list that includes a mix of data types (integers, strings, floats).

In [6]:
li=[1012,"Awais Tahir",12.11]
print(li)

[1012, 'Awais Tahir', 12.11]

Access the first element of a list.

In [7]:
li=["AwaisTahir",1012,"Talha"]
print(li[0])

AwaisTahir

Access the last element of a list.

In [8]:
li=["AwaisTahir",1012,"Talha"]
print(li[-1])

Talha

 Access the second and third elements of a list.

In [17]:
list=["Awais", 1012,"Ubaid",1018,"Arslan",1032,"Zain",1041,"Adnan",1043]
#we can print second and third elememt in one prompt 
print(list[1:3])
#we can print second and third element in two prompt one by one
print(list[1])
print(list[2])

[1012, 'Ubaid']
1012
Ubaid


Slice a list to extract the first three elements.

In [18]:
list=["Awais", 1012,"Ubaid",1018,"Arslan",1032,"Zain",1041,"Adnan",1043]
print(list[:3])

['Awais', 1012, 'Ubaid']

Slice a list to extract the last three elements.

In [19]:
list=["Awais", 1012,"Ubaid",1018,"Arslan",1032,"Zain",1041,"Adnan",1043]
print(list[6:])

['Zain', 1041, 'Adnan', 1043]

Slice a list to get every second element.

In [16]:
list=["Awais", 1012,"Ubaid",1018,"Arslan",1032,"Zain",1041,"Adnan",1043]
print(list[::])

['Awais', 1012, 'Ubaid', 1018, 'Arslan', 1032, 'Zain', 1041, 'Adnan', 1043]

Reverse a list using slicing.

In [20]:
list=["Awais", 1012,"Ubaid",1018,"Arslan",1032,"Zain",1041,"Adnan",1043]
print(list[::-1])

[1043, 'Adnan', 1041, 'Zain', 1032, 'Arslan', 1018, 'Ubaid', 1012, 'Awais']

 Create two lists and concatenate them.

In [21]:
list1=["Name  :","Awais","Ubaid","Arslan","Zain","Adnan"]
list2=["Roll no: ",1012,1018,1032,1041,1043,]
print(list1+list2)

['Name  :', 'Awais', 'Ubaid', 'Arslan', 'Zain', 'Adnan', 'Roll no: ', 1012, 1018, 1032, 1041, 1043]


Repeat a list multiple times using the repetition operator

In [23]:
list1=["Name  :","Awais","Ubaid","Arslan","Zain","Adnan"]
print(list1*5)

['Name  :', 'Awais', 'Ubaid', 'Arslan', 'Zain', 'Adnan', 'Name  :', 'Awais', 'Ubaid', 'Arslan', 'Zain', 'Adnan', 'Name  :', 'Awais', 'Ubaid', 'Arslan', 'Zain', 'Adnan', 'Name  :', 'Awais', 'Ubaid', 'Arslan', 'Zain', 'Adnan', 'Name  :', 'Awais', 'Ubaid', 'Arslan', 'Zain', 'Adnan']

Add a new element to the end of a list using the append() method.

In [24]:
list1=["Name  :","Awais","Ubaid","Arslan","Zain","Adnan"]
list1.append("Basit")
print(list1)

['Name  :', 'Awais', 'Ubaid', 'Arslan', 'Zain', 'Adnan', 'Basit']


Extend a list with elements from another list using the extend() method.

In [27]:
list1=["Name  :","Awais","Ubaid","Arslan","Zain","Adnan"]
list1.extend(["Roll no: ",1012,1018,1032,1041,1043,])
print(list1)

['Name  :', 'Awais', 'Ubaid', 'Arslan', 'Zain', 'Adnan', 'Roll no: ', 1012, 1018, 1032, 1041, 1043]

Insert an element at a specific index in a list using the insert() method.

In [33]:
list1=["Name  :","Awais","Ubaid","Arslan","Zain","Adnan"]
list1.insert(1,1012)
print(list1)

['Name  :', 1012, 'Awais', 'Ubaid', 'Arslan', 'Zain', 'Adnan']

 Remove the last element from a list using the pop() method.

In [37]:
list1=["Name  :","Awais","Ubaid","Arslan","Zain","Adnan"]
x=list1.pop(5)
print(list1)
print(x)

['Name  :', 'Awais', 'Ubaid', 'Arslan', 'Zain']
Adnan

Remove a specific element from a list using the remove() method.

In [40]:
list1=["Name  :","Awais","Ubaid","Arslan","Zain","Adnan"]
x=list1.remove("Adnan")
print(list1)
print(x)

['Name  :', 'Awais', 'Ubaid', 'Arslan', 'Zain']
None

Clear all elements from a list.

In [42]:
list1=["Name  :","Awais","Ubaid","Arslan","Zain","Adnan"]
list1.clear()
print(list1)

[]

Delete an element at a specific index using the del statement.

In [44]:
list1=["Name  :","Awais","Ubaid","Arslan","Zain","Adnan"]
del list1[0]
print(list1)

['Awais', 'Ubaid', 'Arslan', 'Zain', 'Adnan']

Convert a string to a list of characters and vice-versa.

In [3]:
string="Awais Tahir"
Make_list=list(string)
print(Make_list)
Make_string="".join(Make_list)
print(Make_string)

['A', 'w', 'a', 'i', 's', ' ', 'T', 'a', 'h', 'i', 'r']
Awais Tahir

In [ ]:
Sort a list in ascending order using the sort() method.

SyntaxError: invalid syntax (2664476093.py, line 1)

In [6]:
list=[2,5,4,5,6,4,7,9,1]
list.sort()
print(list)

[1, 2, 4, 4, 5, 5, 6, 7, 9]

In [ ]:

Sort a list in descending order using the sort() method.

In [7]:
list=[2,5,4,5,6,4,7,9,1]
list.sort(reverse=True)
print(list)

[9, 7, 6, 5, 5, 4, 4, 2, 1]

Reverse the order of a list using the reverse() method.

In [9]:
list=[2,5,4,5,6,4,7,9,1]
list.reverse()
print(list)

[1, 9, 7, 4, 6, 5, 4, 5, 2]

Check if an element is present in a list using the in operator.

In [21]:
list=["Awais","Ubaid","Arslan","Zain","Adnan"]
check= 'Awais'
if check in list:
    print(f"{check} is in the list.")
else:
    print(f"{check} is not in the list.")

Awais is in the list.

Compare two lists to see if they are equal in both value and identity.

In [19]:
# Creating two lists
list1 = [1, 2, 3]
list2 = [1, 2, 3]
equal_value = list1 == list2  
equal_identity = list1 is list2
print("List1 and List2 have equal values:", equal_value)
print("List1 and List2 have equal identity:", equal_identity)

List1 and List2 have equal values: True
List1 and List2 have equal identity: False

Create a shallow copy of a list and modify one of the lists to observe the effects on the other.

In [22]:
original_list = [1, 2, [3, 4], 5]
shallow_copy = original_list.copy()
shallow_copy[2][0] = 'Changed'
print("Original List:", original_list)
print("Shallow Copy:", shallow_copy)

Original List: [1, 2, ['Changed', 4], 5]
Shallow Copy: [1, 2, ['Changed', 4], 5]

Create a deep copy of a nested list and modify one of the lists to observe the effects on the other.

In [23]:
import copy
original = [1, 2, [3, 4], 5]
deep_copy = copy.deepcopy(original)
deep_copy[2][0] = 'Changed'
print("Original List:", original)
print("Deep Copy:", deep_copy)

Original List: [1, 2, [3, 4], 5]
Deep Copy: [1, 2, ['Changed', 4], 5]

Pickle and Unpickle a list and display its content.