### Assignment-02
- Change the notebook name with your name and Roll Number.
- Try this as your own, no chatgpt (it's for your learning)
- after completing the assignment, submit this book on google class room.

Declare and print a variable with the name "name" containing your name.

In [1]:
name="Awais Tahir"
print(name)

Awais Tahir

Create two variables, x and y, and swap their values without using a third variable.

In [2]:
x=10
y=12
x,y=y,x
print(x,y)

12 10

Calculate the area of a rectangle with length and width stored in variables.

In [1]:
#length of the rectanglar 
leng=5
widt=7
area=leng*widt
print(area)

35

Create a variable with a long string (multi-line) and print its length.

In [1]:
long_string="""Three double or single quotion mark are use for the multi-line string"""

print(len(long_string))

69

Create a variable to store your favorite number and print it.

In [4]:
var=input("Enter Your Favorite Number")
print("Your Favorite Number",var)

Enter Your Favorite Number 45

Your Favorite Number 45

Declare and assign values to multiple variables to represent the sides of a triangle. Calculate and print its perimeter.

In [39]:
Side_a=45
Side_b=40
Side_c=30
perimeter=Side_a + Side_b + Side_c
print("The perimeter of tiangle", perimeter)
#also find without declaring new varible
print( "The perimeter of triangle",Side_a+Side_b+Side_c)

The perimeter of tiangle 115
The perimeter of triangle 115

Store the price of an item in one variable and the quantity in another. Calculate and print the total cost.

In [40]:
price_per_item= 34.0
quantity=4
Tatal_price= price_per_item*quantity
print("the Total price of the item's", Tatal_price)
#also find without declaring new varible
print("The Total price of the item", price_per_item*quantity)

the Total price of the item's 136.0
The Total price of the item 136.0

Declare a constant variable for the value of pi (Ï€) and use it to calculate the circumference of a circle with a given radius.

In [41]:
PI=3.14
radius=34
circumferance=2*PI*radius
print("The circumferacnce of circle", circumferance)
#also find without declaring new varible
print("The circumferance of circle", PI*radius)

The circumferacnce of circle 213.52
The circumferance of circle 106.76

Calculate the sum of two numbers, a and b.

In [34]:
a= 45
b=40
c=a+b
print(' The Sum of "a" and "b"', c)
#also find without declaring new varible
print('The Sum of "a" and "b"',a+b)

 The Sum of "a" and "b" 85
The Sum of "a" and "b" 85

Calculate the product of two numbers, a and b.

In [35]:
a=40
b=45
c=a*b
print(" The product of a and b ", c)
#also find without declaring new varible
print("The product of a and b ", a*b)

 The product of a and b  1800
The product of a and b  1800

Calculate the result of dividing a by b (with proper error handling for division by zero).

In [5]:
a=45
b=40
c=a/b
print("The division of a and b ", c)
#also find without declaring new varible
print("The division of a and b ", a/b)
print("The error found because b is not equal to 0", )

The division of a and b  1.125
The division of a and b  1.125
The error found because b is not equal to 0 False

Calculate the square of a number x.

In [20]:
a=34
x=2
c=a**x
print(" The square of a", c)
#also find without declaring new variblere
print(" The square of a ", a**x)

 The square of a 1156
 The square of a  1156

Calculate the remainder when a is divided by b.

In [42]:
b=23
a=12
c=b%a
print("The remainder of a divided by b is :",c)
#also find without declaring new varible
print(" The remainder of a divided by b is:",b%a)

The remainder of a divided by b is : 11
 The remainder of a divided by b is: 11

 Calculate the result of dividing 17 by 3 and print the quotient and remainder.

In [8]:
num=17
num2=3
result=num//num2
print(result,"The remainder is:",num%num2,"The quotient is:",num//num2)

5 The remainder is: 2 The quotient is: 5

Calculate the area of a square with a given side length.

In [58]:
length=45
area =length**2
print("The area of square is :", area)
#also find without declaring new varible
print("The Area of the square is :", length*length)

The area of square is : 2025
The Area of the square is : 2025

Calculate the average of five numbers.

In [69]:
num1=2
num2=4
num3=6
num4=8
num5=8
Average=(num1+num2+num3+num4+num5)/5
print("The Average is:",Average)
#also find without the creating a new variable
print("The Average is :",(num1+num2+num3+num4+num5)/5)
# we can also find Average by creating list 
number=[10,24,43,23,45]
average=sum(number)/len(number)
print(" The Average is:",Average)

The Average is: 5.6
The Average is : 5.6
 The Average is: 5.6

Create a variable with a boolean value and print its opposite value.

In [76]:
original_value=True
Opposite_value=not original_value
print(Opposite_value)

False

Store your birth year in a variable and calculate your age.

In [9]:
var=2007
age=2024-var
print("MY age is :",age)

MY age is : 17

Create a variable with an integer and convert it to a float.

In [67]:
var=int(45)
var1=float(var)
print(var1)

45.0

Create a variable with a float and convert it to an integer.

In [68]:
var=float(45.5)
var1=int(var)
print(var1)

45

Create a variable with a string that represents an integer and convert it to an integer.

In [30]:
str="45"
var=int(str)
print(var)

45

Create a variable with a string that represents a float and convert it to a float.

In [93]:
string="45.0"
print(string)
var=float(string)
print(var)

45.0
45.0

Create a variable with a number and convert it to a string.

In [12]:
number=45
str_num= str(number)
print(str_num)

45

Calculate the absolute value of a number.

In [74]:
num= -45
absolute= abs(num)
print("the absolute is :", absolute)

the absolute is : 45

Calculate the square root of a number.

In [72]:
var=49
square_root=var**(1/2)
print("the square root is :", square_root)

the square root is : 7.0

Calculate the value of a raised to the power of b.

In [85]:
a=34
b=4
result=a**b
print('The value is :',result)

The value is : 1336336

Round a float to the nearest integer.

In [86]:
float_num=34.3
nearest_integer=int(float_num)
print("The nearest integer is :",nearest_integer)

The nearest integer is : 34

Combine multiple conditions using logical operators and print the result.

Generate a random number between 1 and 100.**(challenging)**

In [11]:
import random
random_num=random.randint(1,100)
print("The number is :",random_num)

The number is : 81