### Assignment-05 (Tuple)
- Change the notebook name with your name and Roll Number.
- Try this as your own, no chatgpt (it's for your learning)
- after completing the assignment, submit this book on google class room.

    Create an empty tuple and print it.

In [38]:
tup=()
print(tup)

()

    Create a tuple of your favorite fruits and print it.

In [39]:
tup_Fruits=('Apple','Bananas','Mangoes','Oranges',)
print(tup_Fruits)

('Apple', 'Bananas', 'Mangoes', 'Oranges')

    Create a tuple that includes a mix of data types (integers, strings, floats).

In [40]:
tup_mix=('Awais',1012,3.14)
print(tup_mix)

('Awais', 1012, 3.14)

  Access the first element of a tuple.

In [41]:
tup=('Awais','Arslan','Adnan','Ubaid','Zain')
print(tup[0])

Awais

    Access the last element of a tuple.

In [42]:
tup=('Awais','Arslan','Adnan','Ubaid','Zain')
print(tup[-1])

Zain

Access the second and third elements of a tuple.

In [43]:
tup=('Awais','Arslan','Adnan','Ubaid','Zain')
print(tup[1])
print(tup[2])

Arslan
Adnan


    Slice a tuple to extract the first three elements.

In [44]:
tup=('Awais','Arslan','Adnan','Ubaid','Zain')
print(tup[:3])

('Awais', 'Arslan', 'Adnan')

Slice a tuple to extract the last three elements.

In [45]:
tup=('Awais','Arslan','Adnan','Ubaid','Zain')
print(tup[2:])

('Adnan', 'Ubaid', 'Zain')

   Slice a tuple to get every second element.

In [46]:
tup=('Awais','Arslan','Adnan','Ubaid','Zain')
print(tup[:])

('Awais', 'Arslan', 'Adnan', 'Ubaid', 'Zain')

    Reverse a tuple using slicing.

In [47]:
tup=('Awais','Arslan','Adnan','Ubaid','Zain')
print(tup[::-1])

('Zain', 'Ubaid', 'Adnan', 'Arslan', 'Awais')

Create two tuples and concatenate them.

In [48]:
tup=('Awais','Arslan','Adnan','Ubaid','Zain')
print(tup[:-1])
tup1=(1012,1032,1043,1018,1041)
tup2=tup+tup1
print(tup2)

('Awais', 'Arslan', 'Adnan', 'Ubaid')
('Awais', 'Arslan', 'Adnan', 'Ubaid', 'Zain', 1012, 1032, 1043, 1018, 1041)

    Repeat a tuple multiple times using the repetition operator.

In [49]:
tup=('Awais', 'Arslan', 'Adnan', 'Ubaid', 'Zain', 1012, 1032, 1043, 1018, 1041)
print(tup*10)

('Awais', 'Arslan', 'Adnan', 'Ubaid', 'Zain', 1012, 1032, 1043, 1018, 1041, 'Awais', 'Arslan', 'Adnan', 'Ubaid', 'Zain', 1012, 1032, 1043, 1018, 1041, 'Awais', 'Arslan', 'Adnan', 'Ubaid', 'Zain', 1012, 1032, 1043, 1018, 1041, 'Awais', 'Arslan', 'Adnan', 'Ubaid', 'Zain', 1012, 1032, 1043, 1018, 1041, 'Awais', 'Arslan', 'Adnan', 'Ubaid', 'Zain', 1012, 1032, 1043, 1018, 1041, 'Awais', 'Arslan', 'Adnan', 'Ubaid', 'Zain', 1012, 1032, 1043, 1018, 1041, 'Awais', 'Arslan', 'Adnan', 'Ubaid', 'Zain', 1012, 1032, 1043, 1018, 1041, 'Awais', 'Arslan', 'Adnan', 'Ubaid', 'Zain', 1012, 1032, 1043, 1018, 1041, 'Awais', 'Arslan', 'Adnan', 'Ubaid', 'Zain', 1012, 1032, 1043, 1018, 1041, 'Awais', 'Arslan', 'Adnan', 'Ubaid', 'Zain', 1012, 1032, 1043, 1018, 1041)

Find the index of a specific element in a tuple using the index() method.

In [50]:
tup=('Awais', 'Arslan', 'Adnan', 'Ubaid', 'Zain', 1012, 1032, 1043, 1018, 1041)
print(tup.index(1032))

6

    Count the number of occurrences of a specific element in a tuple using the count() method.

In [51]:
tup_colors=('Awais', 'Arslan', 'Adnan', 'Ubaid', 'Zain', 1012, 1032, 1043, 1018, 1041)

print(tup_colors.count('Awais'))

1

Sort a tuple of numbers in ascending order.

In [52]:
tup=(1,3,4,6,8,9,2,7,0)
print(tuple(sorted(tup)))

(0, 1, 2, 3, 4, 6, 7, 8, 9)

    Sort a tuple of strings in alphabetical order.

In [53]:
string=('Awais','Ubaid','Basit','Ishaaq','Umar',)
order=tuple(sorted(string))
print(order,type(order))

('Awais', 'Basit', 'Ishaaq', 'Ubaid', 'Umar') <class 'tuple'>

Sort a tuple of tuples based on the second element of each inner tuple.

In [54]:
tup=((1,9),(3,3),(9,2),(6,0),(5,1))
order_tuple=tuple(sorted(tup,key=lambda x:x[1]))
print(order_tuple)

((6, 0), (5, 1), (9, 2), (3, 3), (1, 9))

Compare two tuples to see if they are equal in both value and identity.

In [56]:
tup1=('Awais','Ubaid','Basit','Ishaaq','Umar',)
tup2=('Awais','Ubaid','Basit','Ishaaq','Umar')
tup3=tup1==tup2
tup4=tup1 is tup2
print(tup3)
print(tup4)

True
False

Create a shallow copy of a tuple and observe the effects of modifying one of the tuples.

In [57]:
orginal_tuple=('Awais', 'Arslan', 'Adnan', 'Ubaid', 'Zain', [1012, 1032, 1043, 1018, 1041])
Shallow_copy=orginal_tuple
orginal_tuple[5].append('Basit')
orginal_tuple[5].append('1045')
print('Orginal Tuple',orginal_tuple)
print('Shallow Copy',Shallow_copy)

Orginal Tuple ('Awais', 'Arslan', 'Adnan', 'Ubaid', 'Zain', [1012, 1032, 1043, 1018, 1041, 'Basit', '1045'])
Shallow Copy ('Awais', 'Arslan', 'Adnan', 'Ubaid', 'Zain', [1012, 1032, 1043, 1018, 1041, 'Basit', '1045'])

    Create a deep copy of a nested tuple and observe the effects of modifying one of the tuples.

In [62]:
import copy
orginal_tuple=(1,2,3,4,(10,11))
deep_copy=copy.deepcopy(orginal_copy)
list1=list(deep_copy)
list1[4]=(5,6)
deep_tuple=tuple(list1)
print("Orginal Tuple",orginal_tuple)
print("DeepCopy Tuple",deep_tuple)

Orginal Tuple (1, 2, 3, 4, (10, 11))
DeepCopy Tuple (1, 2, 3, 4, (5, 6))

    Pickle a tuple and save it to a file.

In [11]:
import pickle 
tup=( 'Awais', 'Tahir','Friends','Arslan','Zain','Adnan','Ubaid',)
filename = 'tuple.pkl'

with open('tuple.pkl', 'wb') as file:
    pickle.dump(tup,file)
print(f'Tuple saved to {filename}')

Tuple saved to tuple.pkl

    Unpickle a tuple from a file and display its content.

In [12]:
with open(filename, 'rb') as file:
    loaded_tuple = pickle.load(file)

print('Loaded tuple:', loaded_tuple)

Loaded tuple: ('Awais', 'Tahir', 'Friends', 'Arslan', 'Zain', 'Adnan', 'Ubaid')